# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/zunanalf/FlaskApp"
PassengerBaseURI "/FlaskApp"
PassengerPython "/home/zunanalf/virtualenv/FlaskApp/3.7/bin/python3.7"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
